@CHARSET "UTF-8";

/* Stile uguale in tutte le pagine del sito */
* { font-family: 'Indie Flower', cursive; }

body {background-color: #CCFFCC;}
h1 {color: #009f18; text-align: center; font-size: 60px;
	 font-style: oblique; text-shadow: 4px 4px #e7fee7;}
div#footer {clear: both; padding: 50px 0px 0px 0px}
div#menu {text-align:center;}
a.link_homepage {text-decoration:none; display:inline-block; margin:10px 50px 20px 50px; padding: 10px 50px 10px 50px; 	
  border-radius: 10px; background-color:#85B885; color: white; form {text-align: center;font-size: 50px;}}	
img.center {display: block; margin-left: auto; margin-right: auto;}

form {text-align: center; width: 100%; height: 300px;}

/* CSS per /week_list */
table {width: 100%;}
tr:nth-child(odd) { background: #C2FCC2; }
tr:nth-child(even) { background: #A3E0A3; }
td {text-align: center; font-size: 25px; width: 50%; }
th {font-size: 30px; text-shadow: 1px 1px #C2FCC2; background-color: #85B885; 
	font-style: oblique; color: white; }

/* CSS per /weeks */
span.parole {text-decoration: underline; color: #008814 ; font-weight: bold;}
p0 {color:#009f18;font-size: 20px;}
p1 {font-weight: bold; font-size: 30px; color:#009f18; }	
ul {list-style-type: circle; font-size: 25px; color:#009f18;}
a {text-decoration:none; display:inline-block; margin:10px 25px 10px 25px; padding: 5px 5px 5px 5px; 	
  border-radius: 10px; background-color:#85B885; color: white;  form {text-align: center;font-size: 25px;}}	

/* CSS per /upload */

/* CSS per /groups */
h2 {font-size: 30px; text-shadow: 1px 1px #C2FCC2; background-color: #85B885; 
	font-style: oblique; color: white; text-align: center; width: 80%;  margin: 30px 0px 0px 44px ;}
p{color:#009f18;font-size: 20px; text-align: center;  background-size: 100% ;
  margin:0px 0px 0px 44px; width: 80%;
}
p:nth-child(odd) { background: #C2FCC2;}
p:nth-child(even) { background: #A3E0A3; }