@CHARSET "UTF-8";

li { color: red; }
h1 { color: blue; background-color: fuchsia; text-align: center; font-size: 50px;
	 font-style: oblique;font-family: 'Yatra One', cursive; text-shadow: 2px 2px aqua;}
table {width: 100%;}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: lime;
}
td {text-align: center; font-size: 25px; width: 50%;}
th {font-size: 30px; background-color: #CC0066;text-shadow: 1px 1px white; 
	font-style: oblique;font-family: 'Yatra One', cursive; }