{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<div class="row row row-content">
	<div class="col-xs-12" >
		<h4 class="spiegazione">
		PALLA PRIGIONIERA
		</h4>
		
		<h5>
		MATERIALI
		</h5>
		<p>1 pallone</p>
		<h5>
		SPAZIO DEL GIOCO
		</h5>
		<p> Il campo diviso in quattro fasce di grandezza diversa, due pi&ugrave piccole ai confini e due pi&ugrave grandi al centro.
		</p>
		<h5>
		REGOLE DEL GIOCO
		</h5>
		<p>
		Si dividono i ragazzi in 2 squadre e si dispongono nelle due aree pi&ugrave grandi.
		All' inizio del gioco il pallone viene posizionato al centro del campo 
		e le due squadre in fondo all' area grande. Al via i ragazzi corrono verso la palla per prenderla per prima.
		Quando un avversario viene colpito dal pallone viene 'fatto prigioniero', e si deve spostare nella fascia pi&ugrave piccola, dietro ai giocatori della squadra avversaria. 
		Se un ragazzo prigioniero prende la palla, pu&ograve cercare di colpire direttamente gli avversari e tornare libero. 
		Se dopo un tiro la palla viene presa al volo da un giocatore della squadra avversaria, sar&agrave colui che ha tirato la palla ad andare nella zona riservata ai prigionieri.
		</p>
		
		<h5>
		VARIANTI
		</h5>
		<p>
		Giocare con 3 palloni se i ragazzi sono tanti.<br>
		I prigionieri si possono liberare se prendono la palla al volo lanciata dai suoi compagni.
		
		</p>
	</div>
</div>


{% endblock %}