{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}

<h4 class="spiegazione">
PALLA PRIGIONIERA
</h4>

<h5>
MATERIALI
</h5>

<h5>
SPAZIO DEL GIOCO
</h5>

<h5>
REGOLE DEL GIOCO
</h5>
<p>
Si dividono i ragazzi in 2 squadre e si dispongono nelle due aree pi&ugrave grandi.
All' inizio del gioco il pallone viene posizionato al centro del campo 
e le due squadre in fondo all' area grande. Al via i ragazzi corrono verso la palla per prenderla per prima.
</p>

{% endblock %}