<html lang="it">
	<head>
		<meta charset="UTF-8">
		<link href="/static/css/style.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<title>{% block title %}{% endblock %} - Gioca Estate</title>
		<script src = "static/js/javascript.js"></script>
	</head>

	<body>
		<div id="menu">
		<a class="link_homepage" href="/">Homepage</a>
		<a class="link_homepage" href="/upload">Carica file</a>
		<a class="link_homepage" href="/weeks">File inseriti</a>
		</div>
		<div id="content">{% block content %}{% endblock %}</div>

		<div id="footer">
			{% block footer %}
			&copy; Copyright 2016 by Claudia Zanetel.
			{% endblock %}
		</div>
	</body>

</html>