{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
<h1>Benvenuti</h1>
<h4 class="spiegazione"> 
In questo sito potrai trovare alcuni spiegazioni di attivit&agrave e giochi per bambini delle elementari (bambini dai 6 anni fino a 11 anni).
<br>Queste attivit&agrave sono ideali da svolgere con bambini che participano ad avviamento allo sport (es. atletica),a centri estivi o a scuola nell'ora di educazione motoria.
<br><br> Inoltre in questo sito potrai creare le squadre/gruppi se hai a disposizione di un file con i nomi dei bambini e la loro data di nascita (vai su carica file).
<br>Per fare i gruppi hai due possibilit&agrave: dividere i bambini per et&agrave oppure creando dei gruppi di et&agrave mista.
</h4>

<h4 class="spiegazione"> 
ATTIVIT&Agrave E GIOCHI 
</h4>

<h5>
GIOCHI A SQUADRE 
<br>
<a href="/giochi/disquadra/pallaprigioniera.html">Palla Prigioniera</a>
<br>
<a href="/giochi/disquadra/dodgeball.html">Dodgeball</a>
<br>
</h5>

<h5>
GIOCHI INDIVIDUALI
</h5>

<h5>
PERCORSI MOTORI
</h5>

<h5>
GIOCHI PER INTRODURRE I CLASSICI SPORT DI SQUADRA
</h5>

<h5>
GIOCHI D'ACQUA
</h5>

<h4 class="spiegazione"> 
ESEMPIO DI COME STRUTTURARE UNA LEZIONE
</h4>

{% endblock %}