{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
	  <p1>Inserisci il file in formato .csv e nomina il file come vuoi tu!</p1>
	  <p0><br><span class="parole">Attenzione!!!</span> Il formato .csv deve avere i nomi del bambini nella seconda colonna e la data di nascita nella quarta colonna nel formato GG/MM/AAAA.
	  <br></br><img src="/static/image/excell_campi.JPG" alt="excell colonne" style="width:500px;height:500px;"align="bottom" class="center">
	  <br>Per salvare in formato .csv basta fare salva con nome del file excell e scegliere il formato .csv.<br>
	  <img src="/static/image/file cvs.png" alt="salavre file cvs" style="width:500px;height:300px;"align="bottom" class="center"><br></br></p0>
	  
	 
      <form action="/transform" method="post" enctype="multipart/form-data">
         <input type="file" name="csv_file" />
         <input type="text" name="week" />
         <input type="submit" />
      </form>

{% endblock %}

