{% extends "base.html" %}
{% block title %}Week list{% endblock %}

{% block content %}
<div class="row row row-content">
   <div class="col-xs-12" >
   <h1>Week {{ week }}</h1>
   	<table>
   		<tr>
   			<th>Nome</th> 
   			<th>Anno di nascita</th>
   		</tr>
   		
      		{% for item in participants %}
      		<tr>
         	<td>{{loop.index}})   {{ item.name }}</td>
         	<td>{{ item.dob.strftime('%Y') }}</td>
         	</tr>
      		{% endfor %}
      	
	</table>
</div>
</div>	
{% endblock %}