{% extends "base.html" %}
{% block title %}Weeks{% endblock %}

{% block content %}
<p>
<br>Per ogni settimana caricata nel database puoi vedere l'elenco dei bambini presenti in quella settimana cliccando su <span class="parole">elenco</span> qui sotto.
<br> Oppure se clicchi su <span class="parole">gruppi</span> qui sotto il sito genera 3 gruppi in base all'et&agrave dei bambini presenti in quella settimana.</br>
</p>

<h4> 
Settimane inserite:
</h4>



<ul>
	{% for item in weeks %}
		<li>{{ item.week }} - 
			<a href="/weeks/list/{{ item.week }}">elenco</a> - 
			<a href="/groups/{{ item.week }}/1/3">gruppi</a>
		</li>
	{% endfor %}
</ul>
{% endblock %}